USE [WebShop]
GO
/****** Object:  Table [dbo].[ABOUT]    Script Date: 12/07/2023 10:14:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ABOUT](
	[ID_ABOUT] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[DECRIPTION] [nvarchar](500) NULL,
	[DETAIL] [ntext] NULL,
	[WARRANTY] [int] NULL,
	[IMAGE] [nvarchar](250) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [bigint] NULL,
	[DELETED_DATE] [datetime] NULL,
	[DELETED_BY] [bigint] NULL,
	[META_KEY_WORD] [nvarchar](50) NULL,
	[META_DESCRIPTION] [nchar](50) NULL,
	[STATUS] [bit] NULL,
	[SHOW_ON_HOME] [bit] NULL,
	[DETELED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ABOUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 12/07/2023 10:14:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID_CATEGORY] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[META_TITLE] [varchar](250) NULL,
	[PARENT_ID] [bigint] NULL,
	[DISPLAY_ORDER] [int] NULL,
	[SEO_TITLE] [nvarchar](250) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [bigint] NULL,
	[DELETED_DATE] [datetime] NULL,
	[DELETED_BY] [bigint] NULL,
	[META_KEY_WORD] [nvarchar](50) NULL,
	[META_DESCRIPTION] [nchar](50) NULL,
	[STATUS] [bit] NULL,
	[SHOW_ON_HOME] [bit] NULL,
	[DETELED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACT]    Script Date: 12/07/2023 10:14:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACT](
	[ID_CONTACT] [bigint] IDENTITY(1,1) NOT NULL,
	[CONTENT] [ntext] NULL,
	[STATUS] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CONTACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTENT]    Script Date: 12/07/2023 10:14:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTENT](
	[ID_CONTENT] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[DECRIPTION] [nvarchar](500) NULL,
	[IMAGE] [nvarchar](250) NULL,
	[CATEGORY_ID] [bigint] NULL,
	[DETAIL] [ntext] NULL,
	[WARRANTY] [int] NULL,
	[TOP_HOT] [datetime] NULL,
	[VIEW_COUNT] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [bigint] NULL,
	[DELETED_DATE] [datetime] NULL,
	[DELETED_BY] [bigint] NULL,
	[META_KEY_WORD] [nvarchar](50) NULL,
	[META_DESCRIPTION] [nchar](50) NULL,
	[STATUS] [bit] NULL,
	[SHOW_ON_HOME] [bit] NULL,
	[DETELED] [bit] NULL,
	[TAGS] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CONTENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTENT_TAG]    Script Date: 12/07/2023 10:14:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTENT_TAG](
	[CONTENT_ID] [bigint] NOT NULL,
	[TAG_ID] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TAG_ID] ASC,
	[CONTENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEEDBACK]    Script Date: 12/07/2023 10:14:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEEDBACK](
	[ID_FEEDBACK] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[PHONE] [nvarchar](13) NULL,
	[EMAIL] [varchar](70) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[CREATE_DATE] [datetime] NULL,
	[STATUS] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FEEDBACK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOOTER]    Script Date: 12/07/2023 10:14:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOOTER](
	[ID_FOOTER] [varchar](50) NOT NULL,
	[CONTENT] [ntext] NULL,
	[STATUS] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FOOTER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU]    Script Date: 12/07/2023 10:14:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[ID_MENU] [bigint] IDENTITY(1,1) NOT NULL,
	[TEXT] [nvarchar](50) NULL,
	[LINK] [nvarchar](max) NULL,
	[DISPLAY_ORDER] [int] NULL,
	[TARGET] [nvarchar](50) NULL,
	[STATUS] [bit] NULL,
	[TYPE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MENU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MENU_TYPE]    Script Date: 12/07/2023 10:14:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU_TYPE](
	[ID_MENU_TYPE] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_MENU_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 12/07/2023 10:14:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[ID_PRODUCT] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[CODE] [varchar](20) NULL,
	[DECRIPTION] [nvarchar](500) NULL,
	[IMAGE] [nvarchar](250) NULL,
	[MORE_IMAGE] [xml] NULL,
	[PROMOTION_PRICE] [decimal](18, 0) NULL,
	[PRICE] [decimal](18, 0) NULL,
	[INCLUDE_VAT] [bit] NULL,
	[QUANTITY] [int] NULL,
	[CATEGORY_ID] [bigint] NULL,
	[DETAIL] [ntext] NULL,
	[WARRANTY] [int] NULL,
	[TOP_HOT] [datetime] NULL,
	[VIEW_COUNT] [bigint] NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [bigint] NULL,
	[DELETED_DATE] [datetime] NULL,
	[DELETED_BY] [bigint] NULL,
	[META_KEY_WORD] [nvarchar](50) NULL,
	[META_DESCRIPTION] [nchar](50) NULL,
	[STATUS] [bit] NULL,
	[SHOW_ON_HOME] [bit] NULL,
	[DETELED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT_CATEGORY]    Script Date: 12/07/2023 10:14:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT_CATEGORY](
	[ID_PROCATE] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NULL,
	[META_TITLE] [varchar](250) NULL,
	[PARENT_ID] [bigint] NULL,
	[DISPLAY_ORDER] [int] NULL,
	[SEO_TITLE] [nvarchar](250) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [bigint] NULL,
	[DELETED_DATE] [datetime] NULL,
	[DELETED_BY] [bigint] NULL,
	[META_KEY_WORD] [nvarchar](50) NULL,
	[META_DESCRIPTION] [nchar](50) NULL,
	[STATUS] [bit] NULL,
	[SHOW_ON_HOME] [bit] NULL,
	[DETELED] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PROCATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLIDE]    Script Date: 12/07/2023 10:14:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLIDE](
	[ID_SIDE] [bigint] IDENTITY(1,1) NOT NULL,
	[IMAGE] [nvarchar](250) NULL,
	[DISPLAY_ORDER] [int] NULL,
	[LINK] [nvarchar](max) NULL,
	[DECRIPTIONT] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [bigint] NULL,
	[UPDATED_DATE] [datetime] NULL,
	[UPDATED_BY] [bigint] NULL,
	[DELETED_DATE] [datetime] NULL,
	[DELETED_BY] [bigint] NULL,
	[STATUS] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SIDE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTEM_CONFIG]    Script Date: 12/07/2023 10:14:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEM_CONFIG](
	[ID_CONFIG] [varchar](50) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[TYPE] [nvarchar](50) NULL,
	[VALUE] [nvarchar](250) NULL,
	[STATUS] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CONFIG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAG]    Script Date: 12/07/2023 10:14:14 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAG](
	[ID_TAG] [bigint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TAG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ABOUT] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[ABOUT] ADD  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[ABOUT] ADD  DEFAULT (getdate()) FOR [DELETED_DATE]
GO
ALTER TABLE [dbo].[ABOUT] ADD  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[ABOUT] ADD  DEFAULT ((0)) FOR [SHOW_ON_HOME]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT ((0)) FOR [DISPLAY_ORDER]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT (getdate()) FOR [DELETED_DATE]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[CATEGORY] ADD  DEFAULT ((0)) FOR [SHOW_ON_HOME]
GO
ALTER TABLE [dbo].[CONTENT] ADD  DEFAULT ((0)) FOR [VIEW_COUNT]
GO
ALTER TABLE [dbo].[CONTENT] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[CONTENT] ADD  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[CONTENT] ADD  DEFAULT (getdate()) FOR [DELETED_DATE]
GO
ALTER TABLE [dbo].[CONTENT] ADD  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[CONTENT] ADD  DEFAULT ((0)) FOR [SHOW_ON_HOME]
GO
ALTER TABLE [dbo].[FEEDBACK] ADD  DEFAULT (getdate()) FOR [CREATE_DATE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT ((0)) FOR [PRICE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT ((0)) FOR [QUANTITY]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT ((0)) FOR [VIEW_COUNT]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT (getdate()) FOR [DELETED_DATE]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  DEFAULT ((0)) FOR [SHOW_ON_HOME]
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY] ADD  DEFAULT ((0)) FOR [DISPLAY_ORDER]
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY] ADD  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY] ADD  DEFAULT (getdate()) FOR [DELETED_DATE]
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY] ADD  DEFAULT ((1)) FOR [STATUS]
GO
ALTER TABLE [dbo].[PRODUCT_CATEGORY] ADD  DEFAULT ((0)) FOR [SHOW_ON_HOME]
GO
ALTER TABLE [dbo].[SLIDE] ADD  DEFAULT (getdate()) FOR [CREATED_DATE]
GO
ALTER TABLE [dbo].[SLIDE] ADD  DEFAULT (getdate()) FOR [UPDATED_DATE]
GO
ALTER TABLE [dbo].[SLIDE] ADD  DEFAULT (getdate()) FOR [DELETED_DATE]
GO
ALTER TABLE [dbo].[SLIDE] ADD  DEFAULT ((1)) FOR [STATUS]
GO
