@{
    ViewData["Title"] = "Trang chủ";
}

<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://media.hasaki.vn/hsk/1693017429846x250homeweb-7ngay124.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://media.hasaki.vn/hsk/1693383970846x250home-125.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://media.hasaki.vn/hsk/1692946685846x250-29.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="my-4">
        <div class="my-4">
            <h3 class="text-center text-uppercase">Danh sách sản phẩm</h3>
        </div>
      <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 shadow border-top border-5 border-success rounded">
                            <img src="https://adminbeauty.hvnet.vn/Upload/Files/a1-18032019030345.jpg?width=350&height=391&v=15042020" class="card-img-top" alt="...">
                            <div class="card-body ">
                                <div class="">
                                    <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">
                                        Mặt Nạ Ngủ Dưỡng Môi Laneige Lip Sleeping Mask 3gr
                                    </p>
                                    @*   <p class="card-title text-warning text-center">
                                    Số lượng còn 122 sp
                                    </p> *@
                                </div>
                                <div class="pl-1 d-flex justify-content-center">
                                    <p class="card-title text-success me-3 fw-bold">
                                        33.000đ
                                    </p>
                                    <p class="card-title text-decoration-line-through">
                                        75.000đ
                                    </p>
                                </div>
                                <div class="text-center mt-4">
                                    <a class="btn btn-success ">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 shadow border-top border-5 border-success rounded">
                            <img src="https://adminbeauty.hvnet.vn/Upload/Files/a1-18032019030345.jpg?width=350&height=391&v=15042020" class="card-img-top" alt="...">
                            <div class="card-body ">
                                <div class="">
                                    <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">
                                        Mặt Nạ Ngủ Dưỡng Môi Laneige Lip Sleeping Mask 3gr
                                    </p>
                                    @*   <p class="card-title text-warning text-center">
                                    Số lượng còn 122 sp
                                    </p> *@
                                </div>
                                <div class="pl-1 d-flex justify-content-center">
                                    <p class="card-title text-success me-3 fw-bold">
                                        33.000đ
                                    </p>
                                    <p class="card-title text-decoration-line-through">
                                        75.000đ
                                    </p>
                                </div>
                                <div class="text-center mt-4">
                                    <a class="btn btn-success ">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 shadow border-top border-5 border-success rounded">
                            <img src="https://adminbeauty.hvnet.vn/Upload/Files/a1-18032019030345.jpg?width=350&height=391&v=15042020" class="card-img-top" alt="...">
                            <div class="card-body ">
                                <div class="">
                                    <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">
                                        Mặt Nạ Ngủ Dưỡng Môi Laneige Lip Sleeping Mask 3gr
                                    </p>
                                    @*   <p class="card-title text-warning text-center">
                                    Số lượng còn 122 sp
                                    </p> *@
                                </div>
                                <div class="pl-1 d-flex justify-content-center">
                                    <p class="card-title text-success me-3 fw-bold">
                                        33.000đ
                                    </p>
                                    <p class="card-title text-decoration-line-through">
                                        75.000đ
                                    </p>
                                </div>
                                <div class="text-center mt-4">
                                    <a class="btn btn-success ">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 shadow border-top border-5 border-success rounded">
                            <img src="https://adminbeauty.hvnet.vn/Upload/Files/a1-18032019030345.jpg?width=350&height=391&v=15042020" class="card-img-top" alt="...">
                            <div class="card-body ">
                                <div class="">
                                    <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">
                                        Mặt Nạ Ngủ Dưỡng Môi Laneige Lip Sleeping Mask 3gr
                                    </p>
                                    @*   <p class="card-title text-warning text-center">
                                    Số lượng còn 122 sp
                                    </p> *@
                                </div>
                                <div class="pl-1 d-flex justify-content-center">
                                    <p class="card-title text-success me-3 fw-bold">
                                        33.000đ
                                    </p>
                                    <p class="card-title text-decoration-line-through">
                                        75.000đ
                                    </p>
                                </div>
                                <div class="text-center mt-4">
                                    <a class="btn btn-success ">Mua ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
</div>