@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>
<div>
    <h5 class="my-4">Hiển thị dữ liệu lấy từ controller</h5>
    <p>@ViewBag.messageVB</p>
    <p>@ViewData["Message"]</p>
    <p>@TempData["MessageId"]</p>
</div>