
@{
    ViewData["Title"] = "ListProduct";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#Product Id</th>
            <th scope="col">Name</th>
            <th scope="col">YearRelease</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in ViewBag.products)
        {
            <tr>
                <th scope="row">@item.ProductId</th>
                <td>@item.ProductName</td>
                <td>@item.YearRelease</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>