<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Category List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-lg-3 text-end">
                <a asp-controller="Category" asp-action="Create" class="btn btn-primary col-12">
                    <i class="bi bi-plus-circle"></i>  Create New Category
                </a>
            </div>
        </div>

        <table id="tblDataCategory" class="table table-bordered display responsive nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Category Name
                    </th>
                    <th>
                        Display Order
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/category.js"></script>
}