
@{
    Layout = null;
}
@model HelloWord.Models.MessageModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Chào mừng bạn học lập trình ASP.NET MVC
        <br/>
        @Model.Welcome
    </div>
</body>
</html>
